## Function, Module, Package

In [1]:
1 * 3

3

In [4]:
def kali(a):
    return a*3
print(kali(1))

3

In [3]:
kali(1)

In [9]:
def kali(a):
    print(a*3)
x = kali(1)

3

In [6]:
print(a)

3

In [10]:
def kali(a,b):
    return a*b
print(kali(1,3))

3

In [11]:
x = kali(2,3)
y = kali(4,6)
z = kali(x,y)
print(z)

144

Buat function yang berisi 3 parameter string yang akan dijoin menggunakan spasi dan dikonversi menjadi reverse
- contoh
- input :
- str_joiner('Saya','Mau','Makan')
- output:
- nakam uam ayas

In [20]:
def str_joiner(a,b,c):
        a=a.lower()
        b=b.lower()
        c=c.lower()
        return (a +' ' + b + ' '+c) [::-1]
str_joiner('Saya','Mau','Makan')

'nakam uam ayas'

1. variabel global
2. variabel lokal

In [21]:
total = 20
def function_a(a,b):
    total = a+b
    return
print(total)
function_a(1,2)

20

In [22]:
total

20

In [23]:
def function_b():
    tes = 'Tes'
    print(tes)
function_b()
print(tes)

Tes

NameError: name 'tes' is not defined

In [3]:
mylist = [31,23,31,40,50,67,74,88,91,10,11,13]

In [6]:
def function_summary(list_):
    ##????
    pass
function_summary([])

## Quiz

Output Function:
- A. n angka ganjil adalah = 7
- B. n angka genap adalah = 6
- C. sum angka ganjil adalah =
- D. sum angka genap adalah = 100

In [7]:
mylist = [31,23,31,40,50,67,74,88,91,10,11,13]

def list_summary(lst):
    nGenap = 0 #placeholder n angka genap
    nGanjil = 0
    sumGenap = 0
    sumGanjil = 0
    for i in lst:
        if i % 2 == 0 : #untuk filter angka genap
            nGenap +=1
            sumGenap +=i
        else: # untuk filter angka ganjil
            nGanjil +=1
            sumGanjil +=i
    print(nGanjil)
    print(nGenap)
    print(sumGanjil)
    print(sumGenap)
    
list_summary(mylist)

7
5
267
262

In [26]:
# default argument
def printinfo(name,age=26):
    print("Name: ",name)
    print("Age: ",age)
printinfo("Budi",30)

Name:  Budi
Age:  30

In [27]:
printinfo(age=44,name="Rahmat")

Name:  Rahmat
Age:  44

In [28]:
# variable length argument
def printinto(x, *vatuple):
    print('Output is:')
    print(x)
    for i in vartuple:
        print(vartuple)

In [31]:
printinto(8,9,20,30,'Name',90,100)

Outpus is:
8

NameError: name 'vartuple' is not defined

## Lambda

In [32]:
def sum(x,y):
    return x + y
print(sum(1,2))

3

In [33]:
perkalian = lambda x,y:x*y
print(perkalian(3,5))

15

## Modules

In [35]:
import numpy as np

In [36]:
np.sqrt(9)

3.0

In [8]:
import mod

In [9]:
mod3

NameError: name 'mod3' is not defined

In [ ]:
import sys

In [1]:
sys.path

NameError: name 'sys' is not defined

In [37]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_19',
 '_20',
 '_22',
 '_36',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'function_a',
 'function_b',
 'get_ipython',
 'joiner',
 'kali',
 'kata',
 'np',
 'perkalian',
 'printinfo',
 'printinto',
 'quit',
 'str_joiner',
 'sum',
 'total',
 'x',
 'y',
 'z']